<template>
  <div class="home">
    <v-img
        dark
        max-height="500px"
        src="../assets/bg-image.jpeg"
    >

      <v-layout fill-height align-center>
        <v-container>
          <v-row align="center" justify="center" class="white--text">
            <v-col>
              <div class="hidden-md-and-down display-2 font-weight-bold">Резюме. Блог.</div>
              <div class="hidden-md-and-down subtitle-1">питонист со стажем 1 год</div>
            </v-col>
          </v-row>
        </v-container>
      </v-layout>
    </v-img>

    <v-container class="mt-10">
      <v-layout align-center justify-center>
        <v-flex xs8 sm8 md5>
          <v-row align="center" justify="center">
            <div id="about" class="display-1  font-weight-bold"> Обо мне</div>
          </v-row>
          <v-row>
            <div class="mt-6">
              <span v-html="this.about"></span>
            </div>
          </v-row>
        </v-flex>
      </v-layout>

    </v-container>

    <v-container>
      <v-layout mt-5>
        <v-flex>
          <v-row justify="center">
            <div id="portfolio" class="display-2  font-weight-bold">Поделки</div>
          </v-row>
          <v-layout wrap>
            <template v-for="(app, i) in apps">
              <v-flex :key="i" xs12 sm6 md3 offset-md1>
                <AppCard :app="app"/>
              </v-flex>
            </template>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import AppCard from "@/components/AppCard";
import axios from 'axios'

export default {
  name: 'Home',
  components: {
    AppCard
  },
  methods: {
    getAbout: function () {
      axios
          .get(`/about/`)
          .then(res => {
            this.about = res.data.article
          })
    },
    getProjects: function () {
      axios
          .get(`/projects/`)
          .then(res => {
            this.apps = res.data.results
            console.log(this.apps)
          })
    }
  },
  beforeMount() {
    this.getAbout()
    this.getProjects()
  },
  data() {
    return {
      about: '',
      apps: []
    }
  }
}
</script>
