<template>
  <v-layout>
    <v-flex>
      <v-card max-width="350px" min-height="350px" flat align-center>
        <v-card-title>
          <v-card style="border-radius: 20px"
                  flat width="100px" height="100px">
            <v-flex>
              <v-img :src="app.image"></v-img>
            </v-flex>
          </v-card>
          <v-card flat>
            <v-flex>
              {{ app.title }}
            </v-flex>
          </v-card>
        </v-card-title>
        <v-card-text>
          {{ app.description }}
        </v-card-text>
        <v-card-actions >
          <template v-for="tech in app.technologies">
            <v-icon >{{ tech }}</v-icon>
          </template>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "AppCard",
  methods: {
  },
  props: {
    app: {
      type: Object
    }
  }
}
</script>
