<template>
  <v-flex offset-md1 offset-xs1 offset-sm3>
    <v-list-item class="hidden-sm-and-down">
      <template v-for="contact in contacts">
        <v-list-item-icon class="pa-0 mr-2">
          <v-btn icon :href="contact.link" target="_blank">
            <v-icon>{{ contact.icon }}</v-icon>
          </v-btn>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ contact.value }}</v-list-item-title>
          <v-list-item-subtitle>{{ contact.name }}</v-list-item-subtitle>
        </v-list-item-content>
      </template>
    </v-list-item>

    <v-list-item class="hidden-md-and-up">
      <template v-for="contact in contacts">
        <v-list-item-icon class="mr-12 pa-0s">
          <v-btn icon :href="contact.link" target="_blank">
            <v-icon>{{ contact.icon }}</v-icon>
          </v-btn>
        </v-list-item-icon>

      </template>
    </v-list-item>

  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      contacts: [
        {
          name: "Gitlab",
          value: "Renevilson",
          link: "https://gitlab.com/renevilson/",
          icon: "mdi-gitlab"
        },
        {
          name: "Telegram",
          value: "ReneVilson",
          link: "https://t.me/renevilson",
          icon: "mdi-telegram"
        },
        {
          name: "Instagram",
          value: "Rene_Vilson",
          link: "https://www.instagram.com/rene_vilson/",
          icon: "mdi-instagram"
        },
        {
          name: "Email",
          value: "vildanovrinat94@gmail.com",
          link: "mailto:vildanovrinat94a@gmail.com",
          icon: "mdi-email"
        }
      ]
    }
  }
};
</script>

<style>
</style>