<template>
  <v-app-bar flat absolute color="transparent" dark height="90px">
    <v-layout justify-center>
      <v-container>
        <v-layout>
          <div
              :class="{'display-1 font-weight-bold': $vuetify.breakpoint.smAndUp,'title font-weight-bold': $vuetify.breakpoint.smAndDown, }"
          >Rene Vilson
          </div>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn @click="$vuetify.goTo('#about',options )" text>Обо мне</v-btn>
            <v-btn @click="$vuetify.goTo('#portfolio',options )" text>Поделки</v-btn>
          </v-toolbar-items>
        </v-layout>
      </v-container>
    </v-layout>
  </v-app-bar>
</template>
